.page-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
.card-high-impact-area {
    width: 100%;
    padding: 1.5rem;
    background-color: var(--cardBg) !important;
    border-radius: 1rem;
    height: 80%;
    margin: 2rem;
  }
  
  .card-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .card-content {
    font-size: 16px;
    padding: 20px;
  }
  
  .card-info {
    margin-bottom: 10px;
  }

  .table-row{
    margin: 10px auto ;
  }

  .square{
    display: flex;
    height: 100px;
    width: 100px;
    background-color: rgb(199, 220, 236);
    border-color: #05299e;

  }

  .text {
    margin: auto;
    font-size: 40px;
    font-weight: bold;
    color: #f38e1b;
  }
  

