.page-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
.card-high-impact-area {
    width: 100%;
    padding: 1.5rem;
    background-color: var(--cardBg) !important;
    border-radius: 1rem;
    height: 80%;
    margin: 2rem;
  }
  
  .card-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-content {
    font-size: 16px;
  }
  
  .card-info {
    margin-bottom: 10px;
  }
  