.container {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  
  .column {
    flex: 1;
    padding: 10px;
    align-items: center;
  }
  
  .card {
    width: calc(70% - 10px); /* Adjust the width as needed */
    margin: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
  flex-wrap: wrap;
  }

  .card-content {
    display: flex;
    flex: 1;
  }


  
  .card-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-subtitle {
    font-size: 20px;

    color: #666;
    margin-bottom: 20px;
  }
  

  select,
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .ground-name{
    font-size:40px;
    color: #05299e;

  }
  .circle {
    display: flex;
    height: 200px;
  width: 200px;
  background-color: rgb(199, 220, 236);
  border-radius: 50%;
  border-color: #05299e;
  }
  .Runs{
    margin: auto;
    font-size: 60px;
    font-weight: bold;
    color: #45a049;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  